.p-card {
    margin: 20px;
    left: 0;
}

.img-wrapper {
    display: flex;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    justify-content: center;
    overflow: hidden;
}

.img-responsive {
    flex: none;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
}

.p-card-info {
    padding: 20px;
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 25px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 6, 8, 0.8);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.p-card-title {
    font-size: 24px;
    margin: 0px;
    color: #F3F2F3;
}

.p-card-subtitle {
    font-size: 16px;
    margin: 0px;
}

.p-card-links {
    margin-top: 30%;
}