.loading-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
}

.loader-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

.splash-logo {
  width: 150px;
  margin-bottom: 50px;
  user-select: none;
}

@media screen and (max-width: 960px) {
  .splash-logo {
    width: 110px;
  }
}