
.nav-menu {
  width: 100%;
  height: calc(100vh - 70px);
  position: absolute;
  top: -100vh;
  opacity: 0;
  transition: all .8s ease;
  -webkit-transition: all .8s ease;
  background-color: rgba(3, 3, 3, 0.85);
  backdrop-filter: blur(10px);
}
  
.nav-menu.active {
  top: 100%;
  opacity: 1;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

@media screen and (max-width: 960px) {

  .nav-wrapper {
    height: 55px;
  }

  .logo {
    position: absolute;
    width: 50px;
    top: 0;
    left: 0;
    transform: translate(25%, 40%);
    margin-left: 0;
  }

  .menu-icon {
    margin-right: 0;
    top: 0;
    right: 0;
    transform: translate(-25%, 10%);
  }

  .nav-link {
    font-size: 35px;
  }

  .nav-social-icon {
    font-size: 20px;
  }
}