footer {
    margin-top: 200px;
    background-color: #1b1b1b;
}

.floating-div {
    position: relative;
    margin: auto;
    max-width: 80%;
    background-image: linear-gradient(45deg, #384BEB, #8600DA);
    padding: 20px;
    border-radius: 30px;
    top: -50px;
}

footer h3 {
    color: #F3F2F3;
    font-size: 30px;
}

.contact {
    color: #F3F2F3;
    border: 2px solid #F3F2F3;
    background: transparent;
    padding: 10px 32px;
    font-weight: 500;
    border-radius: 24px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    float: right;
}

.contact:hover {
    color: #384BEB;
    background-color: #F3F2F3;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.contact:focus {
    outline:0;
}

.contact .telegram {
    margin-left: 10px;
}

.social-media {
    color: #9C9D9B;
    font-size: 25px;
}

.social-media:hover {
    color: #7d7e7c;
}

.footer-copy {
    float: right;
}

@media screen and (max-width: 960px) {
    .floating-div {
        padding: 15px 10px;
    }

    footer h3 {
        font-size: 25px;
    }

    .contact {
        font-size: 15px;
        padding: 5px 16px;
        float: left;
    }

    .footer-copy {
        float: unset;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}