/*
Color palette:
  Background:           #030303
  Blocks:               #0f0f0f   272727
  Titles:               #F3F2F3
  Text:                 #9C9D9B
  Gradient( Logo ):     384BEB    8600DA
*/

/*
**    Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

/**/

* {
  box-sizing: border-box;
}

html {
  background-color: #0f0f0f;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.theme {
  background-color: #0f0f0f;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #9C9D9B;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #9C9D9B;
  border-radius: 25px;
  border: 4px solid #0f0f0f;
}

::-webkit-scrollbar-thumb:hover {
  background: #7d7e7c;
}


.link {
  color: #2086e7;
}

.link:hover {
  color: #066dcd;
  text-decoration: none;
}

h2 {
  color: #F3F2F3;
}

/* Homepage */

.space {
  position: relative;
  overflow: hidden;
}

.job-title {
  margin-top: 1rem;
  font-weight: 500;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.curly-braces {
  background-image: -webkit-linear-gradient(#384BEB, #8600DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  font-weight: 600;
}

.typical {
  width: 10rem;
}

.download-resume {
  color: #F3F2F3;
  background: #384BEB;
  padding: 8px 26px;
  font-weight: 500;
  border-radius: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: 50px;
}

.download-resume:hover {
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  background-color: #2d3cbc;
}

.download-resume:focus {
  outline:0;
}

.download-resume .download-icon {
  margin-left: 10px;
  font-size: 20px;
}

.see-projects {
  color: #0f0f0f;
  background: #F3F2F3;
  padding: 8px 26px;
  font-weight: 500;
  border-radius: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: 50px;
}

.see-projects:hover {
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  background-color: #dbdadb;
}

.see-projects:focus {
  outline:0;
}

.see-projects .eye-icon {
  margin-left: 10px;
  font-size: 20px;
}

.contact-me {
  display: inline-block;
  font-size: 0.95rem;
  color: #9C9D9B;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.contact-me:hover {
  font-size: 1rem;
  text-underline-offset: 3px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.fixed-bottom {
  z-index: 1 !important;
}

@media screen and (max-width: 960px) {
  .download-resume {
    padding: 7px 18px;
    margin-right: 2rem;
  }

  .download-resume .download-icon {
    margin-left: 8px;
    font-size: 18px;
  }

  .see-projects {
    padding: 7px 18px;
    margin-right: 2rem;
  }

  .see-projects .eye-icon {
    margin-left: 8px;
    font-size: 18px;
  }

  .contact-me {
    margin-top: 1rem;
  }
}




.about-wrapper {
  width: 100%;
  background-color: #1b1b1b;
  padding: 20px 20px;
  border-radius: 10px;
}

.line-break {
  color: #2d2d2d;
  background-color: #2d2d2d;
  height: 1px;
  border-radius: 5px;
}



.form-control {
  background-color: #1b1b1b !important;
  border-color: #333333 !important;
  color: #8c8d8c !important;
}

.form-control:focus {
  border-color: #384BEB !important;
  box-shadow: 0 0 0 0.2rem rgba(21, 24, 216, 0.137) !important;
}

.message-field {
  min-height: 100px;
  max-height: 400px;
  white-space: pre-line;
}

.error {
  width: 100%;
  color: #ff4949;
  font-size: 15px;
  padding: 1px;
  padding-left: 10px;
  margin-top: 10px;
  border: 1px solid #ff4949;
  border-radius: 20px;
}

.horizontal-line {
  color: #1b1b1b;
  background-color: #1b1b1b;
  height: 1px;
  border-radius: 5px;
}


.send {
  color: #F3F2F3;
  background: #384BEB;
  padding: 10px 32px;
  font-weight: 500;
  border-radius: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.send:hover {
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  background-color: #2d3cbc;
}

.send:disabled,
.send[disabled] {
  background-color: #5764d8;
}

.send:focus {
  outline:0;
}

.send .arrow {
  margin-left: 10px;
  font-size: 20px;
}


.email-area {
  padding: 1.5rem;
  background-color: #1b1b1b;
  border: 1px #333333;
  border-style: dashed;
  border-radius: 5px;
}

.email-area-text {
  font-size: 1rem;
}

.email-area:hover .email-area-text {
  font-size: 1.03rem;
  color: #bdbdbd;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

.contact-email {
  font-size: 1.3rem;
  color: #9C9D9B;
}

.contact-email:hover {
  text-decoration: none;
  color: #7d7e7c;
}

@media screen and (max-width: 750px) {
  .email-area {
    padding: 1.2rem;
  }
  .contact-email {
    font-size: 1rem;
  }
}

.copy-email {
  float: right;
  font-size: 1.1rem;
  cursor: pointer;
}

.copy-email:hover {
  color: #7d7e7c;
}